<header class="header">
  <div class="header__logo header-logo">
    <app-logo [customer]="customer" />
  </div>

  <div class="header__actions">
    <div class="header__action" *ngIf="customer">
      <i
        class="fi fi-rs-shopping-cart header__icon"
        [routerLink]="'/site/cart/list'"
      ></i>
      <span class="header__badge" *ngIf="badge > 0">{{ badge }}</span>
    </div>
    <a class="header__action" href="mailto:test@tst.com" *ngIf="customer">
      <i class="fi fi-rs-headset header__icon"></i>
    </a>
    <div class="header__action">
      <i class="fi fi-rs-user-slash header__icon" (click)="singOut()"></i>
    </div>
  </div>
</header>
