@import 'vars';
@import 'mixins';

.sn {
  @include bg();
  height: 350px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow:
    rgba($black, 0.25) 0px 30px 60px -12px inset,
    rgba($black, 0.3) 0px 18px 36px -18px inset;

  &__text {
    font-weight: bold;
    font-size: rem(28);
    text-align: center;
    color: var(--color-white);
    margin: 0;
    background-color: rgba($black, 0.5);
    border-radius: rem(16);
    box-sizing: border-box;
    padding: rem(16) rem(32);
    max-width: 90%;

    @include mq(tablet) {
      font-size: rem(48);
    }
  }
}
